#coploke {
  .sections-1 {
    .text-1 {
      font-size: 48px;
      font-weight: 800;
      line-height: 64px;
      letter-spacing: 0em;
      text-align: center;
      color: #fff;
      margin: 299px 0px 0px 0px;
    }

    .text-2 {
      font-size: 18px;
      font-weight: 400;
      line-height: 32px;
      letter-spacing: 0em;
      text-align: center;
      color: #fff;
      margin: 8px 0px 0px 0px;
    }

    .cord-1 {
      .button {
        width: 170px;
        height: 96px;
        border-radius: 16px;
        background-color: #fff;
        border: 2px solid #fff;
        position: relative;
        top: 100px;
        left: 517px;
        padding: 30px;
        box-shadow: rgba(255, 255, 255, 0.436) 0px 50px 100px -20px,
          rgba(255, 255, 255, 0.364) 0px 50px 100px -20px;
      }

      .button-1 {
        width: 170px;
        height: 96px;
        border-radius: 16px;
        background-color: #fff;
        border: 2px solid #fff;
        position: relative;
        top: 60px;
        left: 317px;
        padding: 30px;
        box-shadow: rgba(255, 255, 255, 0.436) 0px 50px 100px -20px,
          rgba(255, 255, 255, 0.364) 0px 50px 100px -20px;
      }

      .button-2 {
        width: 170px;
        height: 96px;
        border-radius: 16px;
        background-color: #fff;
        border: 2px solid #fff;
        position: relative;
        top: 20px;
        left: 117px;
        padding: 30px;
        box-shadow: rgba(255, 255, 255, 0.436) 0px 50px 100px -20px,
          rgba(255, 255, 255, 0.364) 0px 50px 100px -20px;
      }

      .button-3 {
        width: 170px;
        height: 96px;
        border-radius: 16px;
        background-color: #fff;
        border: 2px solid #fff;
        position: relative;
        top: -10px;
        left: 317px;
        padding: 30px;
        box-shadow: rgba(255, 255, 255, 0.436) 0px 50px 100px -20px,
          rgba(255, 255, 255, 0.364) 0px 50px 100px -20px;
      }

      .button-4 {
        width: 170px;
        height: 96px;
        border-radius: 16px;
        background-color: #fff;
        border: 2px solid #fff;
        position: relative;
        top: -170px;
        left: 517px;
        padding: 30px;
        box-shadow: rgba(255, 255, 255, 0.436) 0px 50px 100px -20px,
          rgba(255, 255, 255, 0.364) 0px 50px 100px -20px;
      }

      .button-5 {
        width: 170px;
        height: 96px;
        border-radius: 16px;
        background-color: #fff;
        border: 2px solid #fff;
        position: relative;
        top: -150px;
        left: 517px;
        padding: 30px;
        box-shadow: rgba(255, 255, 255, 0.436) 0px 50px 100px -20px,
          rgba(255, 255, 255, 0.364) 0px 50px 100px -20px;
      }

      .button-6 {
        width: 170px;
        height: 96px;
        border-radius: 16px;
        background-color: #fff;
        border: 2px solid #fff;
        position: relative;
        top: -425px;
        left: 717px;
        padding: 30px;
        box-shadow: rgba(255, 255, 255, 0.436) 0px 50px 100px -20px,
          rgba(255, 255, 255, 0.364) 0px 50px 100px -20px;
      }

      .button-7 {
        width: 170px;
        height: 96px;
        border-radius: 16px;
        background-color: #fff;
        border: 2px solid #fff;
        position: relative;
        top: -400px;
        left: 717px;
        padding: 30px;
        box-shadow: rgba(255, 255, 255, 0.436) 0px 50px 100px -20px,
          rgba(255, 255, 255, 0.364) 0px 50px 100px -20px;
      }

      .button-8 {
        width: 170px;
        height: 96px;
        border-radius: 16px;
        background-color: #fff;
        border: 2px solid #fff;
        position: relative;
        top: -560px;
        left: 917px;
        padding: 30px;
        box-shadow: rgba(255, 255, 255, 0.436) 0px 50px 100px -20px,
          rgba(255, 255, 255, 0.364) 0px 50px 100px -20px;
      }
    }
  }

  .sections-2 {
    .botton-10 {
      width: 263px;
      height: 263px;
      background-color: #ffffff0c;
      border-radius: 500px;
      padding: 40px;
      margin: -244px 0px 0px -200px;
    }

    .botton-11 {
      width: 34px;
      height: 34px;
      background-color: #ffffff0c;
      border-radius: 500px;
      margin: -244px 0px 0px 900px;

      .img-3 {
        position: relative;
        top: -82px;
        left: -45px;
      }
    }

    .botton-12 {
      .text-3 {
        font-size: 48px;
        font-weight: 700;
        line-height: 84px;
        letter-spacing: 0em;
        text-align: right;
        color: #fff;
        margin: 27px 0px 0px 0px;
      }

      .text-box {
        display: flex;
        margin: -20px 0px 0px 451px;

        .text-4 {
          font-size: 48px;
          font-weight: 700;
          line-height: 84px;
          letter-spacing: 0em;
          text-align: right;
          color: #fff;
          margin: 0px 20px 0px 0px;
        }

        .text-5 {
          background-image: linear-gradient(
            43deg,
            #4158d0 0%,
            #c850c0 46%,
            #ffcc70 100%
          );
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          transition: all 0.2s;
          font-size: 48px;
          font-weight: 700;
          line-height: 84px;
          letter-spacing: 0em;
          text-align: right;
          margin: 0px 20px 0px 0px;
        }

        .text-6 {
          font-size: 48px;
          font-weight: 700;
          line-height: 84px;
          letter-spacing: 0em;
          text-align: right;
          color: #fff;
        }
      }
    }
  }
}
